
@model LoginRegisterUser.ViewModels.EditUserViewModel
@{
    ViewData["Title"] = "Edit User";
}
 <form asp-controller="Users" asp-action="EditUser"  method="post">
     <input type="hidden" asp-for="Id">
    <h2>@ViewData["Title"]</h2>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    <div class="form-floating w-50">
        <input asp-for="FirstName" class="form-control" autocomplete="firstname" aria-required="true" />
        <label asp-for="FirstName"></label>
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-floating w-50">
        <input asp-for="LastName" class="form-control" autocomplete="lastname" aria-required="true" />
        <label asp-for="LastName"></label>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-floating w-50">
        <input asp-for="UserName" class="form-control" autocomplete="username" aria-required="true" />
        <label asp-for="UserName"></label>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-floating w-50">
        <input asp-for="Email" class="form-control" autocomplete="email" aria-required="true" />
        <label asp-for="Email"></label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
   <button  type="submit" class="btn btn-primary w-50">Register</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}